[Unit]
Description=Backup personal files to encrypted Google Drive

[Service]
ExecStart=/usr/bin/rclone sync /home/radovan/files gdrive_backup_crypt: --fast-list --min-age 10m
Type=oneshot

