/*

!/.gitignore

!/.config
/.config/*
!/.config/nvim
!/.config/systemd
/.config/systemd/*
!/.config/systemd/user
/.config/systemd/user/*
!/.config/systemd/user/backup.service
!/.config/systemd/user/backup.timer
!/.config/systemd/user/nas_backup.service
!/.config/systemd/user/nas_backup.timer
!/.config/zathura

!/.bashrc.d
/.bashrc.d/*
!/.bashrc.d/custom.bashrc

!/scripts

!/.tmux.conf

!/.distrobox.ini

!/.aspell.sk.pws

!/.clang-format
